
.header, .footer {
	position: fixed;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	display: flex;
}
.header {
	top: 0;
	border-bottom: 1px solid #EEE;
	align-items: stretch;
}
.footer {
	bottom: 0;
	border-top: 1px solid #EEE;
	align-items: center;
	padding: 25px 50px;
	justify-content: space-between;
}
.header .logo {
	width: 100px;
	height: 100px;
	background-image: linear-gradient(to right, #415AC4 0%, #6E00D0 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
}
.header .logo img {
	width: auto;
	height: 50px;
}

.header .details {
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}
.header .details .title {
	color: #000;
	font-size: 1.7rem;
	font-weight: 400;
	padding-bottom: 5px;
}
.header .details .description {
	font-size: 0.86rem;
	font-weight: 400;
}
.header .timer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	flex-grow: 0;
	padding: 0 50px;
	border-left: 1px solid #EEE;
}
.header .timer .time-allowed {
	font-size: 0.86rem;
	font-weight: 400;
	text-transform: uppercase;
}
.header .timer .time-used {
	font-size: 1.7rem;
	font-weight: 400;
	color: #6710CE;
	margin-top: 5px;
}
.footer .question-nav {
	display: flex;
}
.footer .question-nav .btn:last-child {
	margin-left: 10px;
}
.questions {
	margin: 100px 0;
	padding: 70px;
}
.question {
	max-width: 80%;
}
.question-count {
	font-size: 0.86rem;
	font-weight: 400;
}
.question-header {
	font-size: 1.43rem;
	margin: 20px 0 40px;
}
.question-options {
	display: flex;
	flex-direction: column;
}
.question-option {
	display: flex;
}
.question-option input {
	display: none;
}
.question-option label {
	width: 100%;
	font-size: 1.28rem;
	padding: 25px;
	margin-top: 10px;
	border-left: 8px solid #EEE;
	border-radius: 5px;
	cursor: pointer;
	transition: all .5s;
}
.question-option label:hover,
.question-option label:focus {
	border-color: #6710CE;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
}
.question-option input:checked + label {
	border-color: #6710CE;
	background-color: #F1E4FF;
	box-shadow: none;
}


